{
  "implementation should not allow external requests in CI 1": [
    {
      "scope": "http://worldclockapi.com:80",
      "method": "GET",
      "path": "/api/json/utc/now",
      "body": "",
      "status": 200,
      "response": {
        "$id": "1",
        "currentDateTime": "2021-03-30T22:02Z",
        "utcOffset": "00:00:00",
        "isDayLightSavingsTime": false,
        "dayOfTheWeek": "Tuesday",
        "timeZoneName": "UTC",
        "currentFileTime": 132616153774562380,
        "ordinalDate": "2021-89",
        "serviceResponse": null
      },
      "rawHeaders": [
        "Content-Type",
        "application/json; charset=utf-8"
      ],
      "responseIsBinary": false
    },
    {
      "scope": "https://jsonplaceholder.typicode.com:443",
      "method": "GET",
      "path": "/todos/1",
      "body": "",
      "status": 200,
      "response": [
        "1f8b0800000000000003abe65250502a2d4e2df24c51b25230d401713311cc92cc929c54252b05a594d49cd4e492d26285c4d212104ecd55022b48cecf2dc8492d490569494bcc294ee5aa050037dc01b753000000"
      ],
      "rawHeaders": [
        "Tue, 30 Mar 2021 22:02:57 GMT",
        "Content-Type",
        "application/json; charset=utf-8",
        "chunked",
        "close",
        "__cfduid=dba3c5332f0a0ee0314874dc7872904891617141777; expires=Thu, 29-Apr-21 22:02:57 GMT; path=/; domain=.typicode.com; HttpOnly; SameSite=Lax",
        "Express",
        "X-Ratelimit-Limit",
        "1000",
        "X-Ratelimit-Remaining",
        "999",
        "X-Ratelimit-Reset",
        "1616914455",
        "true",
        "max-age=43200",
        "no-cache",
        "-1",
        "nosniff",
        "Etag",
        "W/\"53-hfEnumeNh6YirfjyjaujcOPPT+s\"",
        "1.1 vegur",
        "HIT",
        "26293",
        "0926c25d130000399be33e5000000001",
        "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\"",
        "{\"group\":\"cf-nel\",\"endpoints\":[{\"url\":\"https:\\/\\/a.nel.cloudflare.com\\/report?s=PASgd56GytNvdFw1vkshZYAcCXIUiAq3nPr3Ifs7hv3KkD0iTSIh5T4wT7HUrnENCKtwxrjAf%2FjO%2BWND4N5NjViKaL%2BmAzVTKfJr8zSr9ynyn%2Fsx0l9Wts9RcZ4Y\"}],\"max_age\":604800}",
        "{\"report_to\":\"cf-nel\",\"max_age\":604800}",
        "cloudflare",
        "6384a00e8dcc399b-SEA",
        "gzip",
        "h3-27=\":443\"; ma=86400, h3-28=\":443\"; ma=86400, h3-29=\":443\"; ma=86400"
      ],
      "responseIsBinary": false
    }
  ],
  "implementation Hi here is another 1": [
[...]
    {
      "scope": "http://worldclockapi.com:80",
      "method": "GET",
      "path": "/api/json/est/now",
      "body": "",
      "status": 200,
      "response": {
        "$id": "1",
        "currentDateTime": "2021-03-30T18:02-04:00",
        "utcOffset": "-04:00:00",
        "isDayLightSavingsTime": true,
        "dayOfTheWeek": "Tuesday",
        "timeZoneName": "Eastern Standard Time",
        "currentFileTime": 132616009782687730,
        "ordinalDate": "2021-89",
        "serviceResponse": null
      },
      "rawHeaders": [
        "Content-Type",
        "application/json; charset=utf-8"
      ],
      "responseIsBinary": false
    }
  ],
  "implementation AND YET here is another 2": [
[...]
