{
  "implementation should not allow external requests in CI 1": [
    {
      "scope": "http://worldclockapi.com:80",
      "method": "GET",
      "path": "/api/json/utc/now",
      "body": "",
      "status": 200,
      "response": {
        "$id": "1",
        "currentDateTime": "2021-03-30T22:02Z",
        "utcOffset": "00:00:00",
        "isDayLightSavingsTime": false,
        "dayOfTheWeek": "Tuesday",
        "timeZoneName": "UTC",
        "currentFileTime": 132616153763155840,
        "ordinalDate": "2021-89",
        "serviceResponse": null
      },
      "rawHeaders": [
        "Content-Type",
        "application/json; charset=utf-8"
      ],
      "responseIsBinary": false
    },
    {
      "scope": "https://jsonplaceholder.typicode.com:443",
      "method": "GET",
      "path": "/todos/1",
      "body": "",
      "status": 200,
      "response": [
        "1f8b0800000000000003abe65250502a2d4e2df24c51b25230d401713311cc92cc929c54252b05a594d49cd4e492d26285c4d212104ecd55022b48cecf2dc8492d490569494bcc294ee5aa050037dc01b753000000"
      ],
      "rawHeaders": [
        "Tue, 30 Mar 2021 22:02:56 GMT",
        "Content-Type",
        "application/json; charset=utf-8",
        "chunked",
        "close",
        "__cfduid=dc933816b7690a02485c47e561f5987641617141776; expires=Thu, 29-Apr-21 22:02:56 GMT; path=/; domain=.typicode.com; HttpOnly; SameSite=Lax",
        "Express",
        "X-Ratelimit-Limit",
        "1000",
        "X-Ratelimit-Remaining",
        "999",
        "X-Ratelimit-Reset",
        "1616914455",
        "true",
        "max-age=43200",
        "no-cache",
        "-1",
        "nosniff",
        "Etag",
        "W/\"53-hfEnumeNh6YirfjyjaujcOPPT+s\"",
        "1.1 vegur",
        "HIT",
        "26292",
        "0926c259180000399be93d6000000001",
        "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\"",
        "{\"group\":\"cf-nel\",\"endpoints\":[{\"url\":\"https:\\/\\/a.nel.cloudflare.com\\/report?s=IfwLU41TRu%2F90%2BtxQcHm8FbnNGdBSC0UDd4sIV6%2Fni3cDGXbU2oipiEVbliOCCQ1koPXTEdyAybvpcRadzCTCy8e1q9SyyIImLFflfDOv31xGSVlIFO8l0zmRpDr\"}],\"max_age\":604800}",
        "{\"report_to\":\"cf-nel\",\"max_age\":604800}",
        "cloudflare",
        "6384a008298d399b-SEA",
        "gzip",
        "h3-27=\":443\"; ma=86400, h3-28=\":443\"; ma=86400, h3-29=\":443\"; ma=86400"
      ],
      "responseIsBinary": false
    }
  ],
  "implementation Hi here is another 1": [
[...]
    {
      "scope": "http://worldclockapi.com:80",
      "method": "GET",
      "path": "/api/json/est/now",
      "body": "",
      "status": 200,
      "response": {
        "$id": "1",
        "currentDateTime": "2021-03-30T18:02-04:00",
        "utcOffset": "-04:00:00",
        "isDayLightSavingsTime": true,
        "dayOfTheWeek": "Tuesday",
        "timeZoneName": "Eastern Standard Time",
        "currentFileTime": 132616009773963840,
        "ordinalDate": "2021-89",
        "serviceResponse": null
      },
      "rawHeaders": [
        "Content-Type",
        "application/json; charset=utf-8"
      ],
      "responseIsBinary": false
    }
  ],
  "implementation AND YET here is another 2": [
[...]
